@import url(https://fonts.googleapis.com/css?family=Chewy);

@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

@keyframes blink {
  from {
    visibility: visible;
  }

  to {
    visibility: hidden;
  }
}

@font-face {
  font-family: myAtariFont;
  src: url(../source/AtariSmall.ttf);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.gameBody {
  display: flex;
  justify-content: center;
}

#start,
#open-board,
#open-modal {
  margin: 20px;
}

.button {
  font-size: 20px;
  margin: 20px 0px;
  width: 200px;
  height: 50px;
  text-align: center;
  display: inline-block;
  margin: 5px;
  font-weight: bold;
  padding: 10px 0 10px 10px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
}

.button:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}

#btnReplay {
  width: 150px;
  font-size: 20px;
  font-family: myAtariFont;
  font-style: italic;
}

#gameTitle {
  font-size: clamp(2.5rem, 10vw, 6rem);
  color: #1a237e;
  text-shadow: 1px 1px #2274a5, 2px 2px #f75c03, 3px 3px #2274a5,
    4px 4px #f75c03, 5px 5px #2274a5, 6px 6px #f75c03, 7px 7px #2274a5,
    8px 8px #f75c03;
}

/* About modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 600px;
  max-width: 80%;
  height: 350px;
}

.leaderboard {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background: radial-gradient(
    ellipse farthest-corner at center top,
    #f39264 0%,
    #f2606f 100%
  );
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
  width: 500px;
  max-width: 80%;
  height: 500px;
}

.modal.active,
.leaderboard.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header,
.board-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

.board-header .title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.board-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.board-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body,
.board-body {
  padding: 10px 15px;
  text-align: justify;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

#enterName-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 101;
  width: 600px;
  height: 200px;
  background-image: url("../image/endScreen.png");
  display: none;
  transform: translate(-50%, -50%);
}

#enterName-body {
  display: flex;
  justify-content: space-between;
  border-radius: 2px;
}

input {
  height: 50px;
  width: 250px;
}

input[type="text"] {
  font-size: 20px;
  font-family: "Playfair Display";
}

#enterName-title {
  font-family: "Playfair Display";
  letter-spacing: 2px;
  font-size: 20px;
}
/* modal-about class (END) */

/* end screen start  */

#endScreen {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 101;
  width: 600px;
  height: 400px;
  background-image: url("../image/endScreen.png");
  display: none;
  transform: translate(-50%, -50%);
}

#endScreenContent {
  width: 400px;
  height: 200px;
  padding: 20px;
  background-color: transparent;
  margin: 80px;
  text-align: center;
  font-size: 20px;
}

#btnReplay {
  background-color: green;
  border: none;
  padding: 16px 0px;
  margin: 4px 2px;
  color: white;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.4s;
}

#txtEndTitle {
  letter-spacing: 5px;
  animation: blink 1s steps(4, start) infinite;
  font-family: myAtariFont;
}

#txtEndMessage {
  letter-spacing: 3px;
  font-family: myAtariFont;
}

/* end screen end */

#gameContainer {
  height: 500px;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  align-items: center;
}

.gameBody {
  margin-bottom: 20px;
  text-align: center;
  background-image: url("../image/canvas\ background.jpg");
}

canvas {
  background: transparent;
  background-image: url("../image/endScreen.png");
  display: block;
  margin: 0 auto;
}

#scoreboard {
  display: none;
  font-family: "Chewy";
  letter-spacing: 2px;
  font-size: 55px;
  height: 200px;
}

/* ol li {
  list-style-type: none;
  text-align: center;
  margin: 20px;
} */

ol {
  counter-reset: leaderboard;
}

li {
  font-size: 30px;
  position: relative;
  z-index: 1;
  counter-increment: leaderboard;
  padding: 18px 10px 18px 50px;
  cursor: pointer;
  backface-visibility: hidden;
  transform: translateZ(0) scale(1, 1);
}

mark {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 18px 10px 18px 50px;
  margin: 0;
  background: none;
  color: #fff;
}

small {
  font-size: 30px;
  position: relative;
  z-index: 2;
  display: block;
  text-align: right;
}

#boardlist0 {
  background: #fa6855;
}

#boardlist1 {
  background: #e0574f;
}

#boardlist2 {
  background: #d7514d;
}

#boardlist3 {
  background: #cd4b4b;
}

#boardlist4 {
  background: #c24448;
  border-radius: 0 0 10px 10px;
}
